.env
*.iml
.gradle
/local.properties
/.idea/
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
Gemfile
Gemfile.lock
client-secret.json
saramak.jks
fastlane/report.xml
